.top-container {
  max-width: $width-container;
  height: $height-top-container;

  margin: 0 auto;
  background-image: image('garrett-parker-DlkF4-dbCOU-unsplash-1.jpg');
  background-repeat: no-repeat;
}

.container {
  max-width: $width-container;
  margin: 0 auto;
  background-color: $color-background;
}

.bottom-container {
  max-width: $width-container;
  height: $height-bottom-container;

  margin: 0 auto;
  // background-image: image('garrett-parker-DlkF4-dbCOU-unsplash.jpg');
  // background-color: $color-background-bottom;
  // background-repeat: no-repeat;
}
