.top-container {
  max-width: $width-container;

  margin: 0 auto;
  background-image: image('garrett-parker-DlkF4-dbCOU-unsplash-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @include media-xs {
    background-image: $color-header-xs,
      image('xs-garrett-parker-DlkF4-dbCOU-unsplash-1.jpg');
  }
}

.container {
  max-width: $width-container;
  margin: 0 auto;
  background-color: $color-background;
}

.bottom-container {
  max-width: $width-container;

  margin: 0 auto;
  background-image: image('garrett-parker-DlkF4-dbCOU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @include media-xs {
    background-image: image('xs-garrett-parker-DlkF4-dbCOU-unsplash.jpg');
  }
}
.background-container {
  max-width: $width-container;

  margin: 0 auto;
  background-color: $color-background-bottom;
}
