.footer-wrapper {
  max-width: $width-project;
  height: $height-footer;
  margin: 0 auto;
  padding: 0 2.5rem;

  @include flex-horizontal(center, space-between);

  @include media-xs {
    height: $height-footer-xs;
    justify-content: center;
  }
}

.git-hab {
  width: calc($width-soc-net-icon * 3 + 4rem);
  @include media-xs {
    display: none;
  }
}

.copyright {
  @include text-line-menu($color-text-footer);
  @include media-s {
    display: none;
  }
}

.social-net-wrapper {
  @include flex-horizontal(center, space-between);
  gap: 3rem;
}

.git-hab svg,
.social-net__item svg {
  @include size($width-soc-net-icon);
  fill: $color-text-footer;
}
