.header {
  background: $color-header;
  box-shadow: $box-shadow-header;

  @include media-xs {
    background: transparent;
    box-shadow: none;

    padding-top: 6.3rem;
  }
}

.header-wrapper {
  max-width: $width-project;
  margin: 0 auto;
  padding: 2.5rem;

  @include flex-horizontal(center, space-between);
}

// -----------------------------------
//* LOGO
.logo {
  @include flex-horizontal(center);
  gap: 0.6rem;
}
.logo svg {
  fill: $color-text-logo;
}
.logo__title {
  @include text-logo($color-text-logo);

  @include media-l {
    display: none;
  }
}

// -----------------------------------
//* LINE_MENU
.line-menu {
  @include flex-horizontal(center, space-between);
  gap: 4.2rem;

  @include media-xl {
    gap: 2.8rem;
  }
  @include media-l {
    gap: 1.6rem;
  }
  @include media-xs {
    display: none;
  }
}
.line-menu__item {
  position: relative;
  @include text-line-menu($color-text-menu);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: $color-text-menu;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

.burger-menu {
  display: none;

  @include media-xs {
    position: relative;
    display: block;
    margin-right: 10px;

    @include size($width-burger, $height-burger);
    cursor: pointer;
    z-index: 10;

    .burger-menu__item {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: $color-text-logo;
      transition: all 0.5s ease-out;
      @include left-top(0, 7px);

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: $color-text-logo;
        transition: all 0.5s ease-out;
      }
      &::before {
        @include left-top(0, -7px);
      }
      &::after {
        @include left-top(0, 7px);
      }
    }
  }
}

.header__btn {
  @include media-xs {
    display: none;
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
