.btn {
  padding: 1rem 3rem;

  background-color: $color-button;

  border: none;
  box-shadow: $box-shadow-button1, $box-shadow-button2;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
    background: $color-button-hover;
  }
}

.btn_small {
  @include text-button-small($color-text-button);
}

.btn_medium {
  @include text-button-medium($color-text-button);
}

.btn_img {
  padding-left: 8rem;
  position: relative;
  // background-image: icon('arrow-right.svg');
  // background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    left: 31px;
    top: 6px;
    @include size(40px);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: icon('arrow-right.svg');
  }
}
