@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
}

html {
  scroll-behavior: smooth;
}

* {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.body-wrapper {
  color: #454040;
  background-color: #fbfbfbee;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.header {
  background-color: #d9e9e8;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}

.nav__item,
.link {
  color: #788b7a;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.nav__item:hover,
.link:hover {
  color: #454040;
  text-decoration: underline;
}

@media (max-width: 950px) {
  .header {
    height: 73px;
  }
  .burger {
    position: absolute;
    left: -100%;
    top: -100%;
  }
  .burger:checked ~ .burger-container .burger-button {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 250px #d9e9e8, inset 0 0 0 20px #d9e9e8, 0 0 10px 260px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 250px #d9e9e8, inset 0 0 0 20px #d9e9e8, 0 0 10px 260px rgba(0, 0, 0, 0.1);
  }
  .burger:checked ~ .burger-container .burger-button:hover {
    -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 250px #d9e9e8, inset 0 0 0 20px #d9e9e8, 0 0 10px 260px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 250px #d9e9e8, inset 0 0 0 20px #d9e9e8, 0 0 10px 260px rgba(0, 0, 0, 0.1);
  }
  .burger:checked ~ .burger-container .burger-button:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
            transform: translateY(-50%) rotate(45deg) scale(1);
  }
  .burger:checked ~ .burger-container .burger-button:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
            transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  .burger:checked ~ .nav {
    margin-bottom: 100px;
    pointer-events: auto;
    -webkit-transform: translate(35px, 20px);
            transform: translate(35px, 20px);
  }
  .burger:checked ~ .nav .nav__item {
    color: #788b7a;
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
  }
  .burger:checked ~ .nav .nav__item:hover {
    color: #454040;
    text-decoration: underline;
  }
  .burger:checked ~ .nav .nav__item:nth-child(1) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .burger:checked ~ .nav .nav__item:nth-child(1):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .burger:checked ~ .nav .nav__item:nth-child(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .burger:checked ~ .nav .nav__item:nth-child(2):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .burger:checked ~ .nav .nav__item:nth-child(3) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .burger:checked ~ .nav .nav__item:nth-child(3):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .burger:checked ~ .nav .nav__item:nth-child(4) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .burger:checked ~ .nav .nav__item:nth-child(4):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .burger:checked ~ .nav .nav__item:before {
    opacity: 0;
  }
  .burger-button {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .burger-button:hover {
    -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .burger-button:before,
  .burger-button:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #788b7a;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .burger-button:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
            transform: translateY(-50%) rotate(45deg) scale(0);
  }
  .burger-button:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
            transform: translateY(-50%) rotate(-45deg) scale(0);
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1px;
    margin: 7px 5px 0px;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__item {
    position: relative;
    color: rgba(0, 0, 0, 0);
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
  }
  .nav__item:nth-child(1) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .nav__item:nth-child(1):before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .nav__item:nth-child(2) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .nav__item:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .nav__item:nth-child(3) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .nav__item:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .nav__item:nth-child(4) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .nav__item:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .nav__item:nth-child(1) {
    letter-spacing: -12px;
  }
  .nav__item:nth-child(2) {
    letter-spacing: -10px;
  }
  .nav__item:nth-child(3) {
    letter-spacing: -13.5px;
  }
  .nav__item:nth-child(n + 4) {
    letter-spacing: -14px;
    margin-top: -7px;
    opacity: 0;
  }
  .nav__item:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #788b7a;
    -webkit-transform: translateY(-50%) scaleY(5);
            transform: translateY(-50%) scaleY(5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.footer {
  padding: 15px;
  background-color: #dbd9d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  padding: 10px 30px;
  background-color: #d9e9e8;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.avatar__img {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 12px solid #fbfbfbee;
  border-radius: 50%;
}

.profile__title {
  text-align: center;
  border-bottom: 3px solid #788b7a;
  padding-bottom: 10px;
}

.profile__subtitle {
  padding-top: 10px;
  text-align: center;
}

.sidebar-section__title {
  padding-top: 20px;
  background-color: #d9e9e8;
  color: #788b7a;
  letter-spacing: 0.2em;
}

.sidebar-section__list {
  padding-top: 20px;
}

.sidebar-section__item {
  position: relative;
  padding-left: 30px;
}

.sidebar-section__link {
  color: #788b7a;
}

.sidebar-section__link:hover {
  color: #454040;
}

.contacts__item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 21px;
  height: 21px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts__item:nth-child(1):before {
  top: 3px;
  width: 24px;
  height: 24px;
  background-image: url("../assets/svg/pin.svg");
}

.contacts__item:nth-child(2):before {
  background-image: url("../assets/svg/email.svg");
}

.contacts__item:nth-child(3):before {
  background-image: url("../assets/svg/github.svg");
}

.contacts__item:nth-child(4):before {
  background-image: url("../assets/svg/telegram.svg");
}

.skills__item:before {
  content: '✓';
  position: absolute;
  left: 0;
  color: #788b7a;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
}

.info {
  padding: 30px;
}

.info-section__title {
  padding-top: 20px;
  padding-left: 7px;
  background-color: #d9e9e8;
  color: #788b7a;
  letter-spacing: 0.2em;
  border-bottom: 3px solid #788b7a;
}

.summary .text {
  padding: 15px 0;
}

.education .text {
  padding-top: 15px;
}

.info-section__list {
  padding: 15px;
}

.info-section__item {
  position: relative;
  margin-left: 20px;
}

.info-section__item:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  width: 12px;
  height: 12px;
  border: 2px solid #788b7a;
  border-radius: 50%;
}

.logo__img {
  display: block;
  height: 40px;
}

@media (max-width: 600px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */