// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
//* SIZE
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
//* POSITION
@mixin left-top($left: 0, $top: 0) {
  left: $left;
  top: $top;
}

// -----------------------------------------------------------------------------
//* MEDIA QUERY
/// width <= $breakpoint-xl
@mixin media-xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}
/// width <= $breakpoint-l
@mixin media-l {
  @media (max-width: $breakpoint-l) {
    @content;
  }
}
/// width <= $breakpoint-m
@mixin media-m {
  @media (max-width: $breakpoint-m) {
    @content;
  }
}
/// width <= $breakpoint-s
@mixin media-s {
  @media (max-width: $breakpoint-s) {
    @content;
  }
}
/// width <= $breakpoint-xs
@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

// -----------------------------------------------------------------------------
//* FLEX
@mixin flex-vertical($align-items: center, $justify-content: space-between) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin flex-horizontal($align-items: center, $justify-content: space-between) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

// -----------------------------------------------------------------------------
//* TEXT_FONTS
@mixin text-logo($color) {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: $color;
}

@mixin text-line-menu($color) {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: $color;
}

@mixin text-button-small($color) {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: $color;
}

@mixin text-button-medium($color) {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $color;
}

@mixin text-h1($color) {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 9.6rem;
  color: $color;
}

@mixin text-h2($color) {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 5.3rem;
  color: $color;
}

@mixin text-description($color) {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $color;
}

@mixin text-section($color) {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $color;
}

@mixin text-search-input($color) {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: $color;
}

@mixin text-slide($color) {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: $color;
}

@mixin text-article-title($color) {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.2rem;
  color: $color;
}
