// -----------------------------------------------------------------------------
// This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------
%transition {
    transition: all 0.5s ease-out;
}
