// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors
$color-body: #e5e5e5;
$color-background: #ffffff;
$color-background-bottom: rgba(255, 255, 255, 0.7);

$color-header: rgba(242, 120, 92, 0.7);

$color-button: #0d606f;
$color-button-hover: #117a8d;

$color-search: rgba(255, 255, 255, 0.7);
$color-search-hover: rgba(255, 255, 255, 0.8);
$color-search-input: #f2785c;

$color-card-img: #f2785c;

$color-dot: rgba(242, 120, 92, 0.5);
$color-active-dot: #f2785c;
$color-arrow-background: rgba(255, 255, 255, 0.5);

$color-text-logo: #ffffff;
$color-text-menu: #ffffff;
$color-text-button: #ffffff;
$color-text-h1: #ffffff;
$color-text-h2: #f2785c;
$color-text-description: #ffffff;
$color-text-section: #0d606f;

// blackout

// box-shadow
$box-shadow-header: 0px 4px 4px rgba(13, 96, 111, 0.5);
$box-shadow-button1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-button2: 0px 2px 3px rgba(13, 96, 111, 0.16);

/// Relative or absolute URL where all assets are served from
$base-url: '../assets/' !default;

/// Breakpoints

// width and height of project
$width-container: 1440px;

$padding-container: 2.5rem;
$width-project: calc(1200px + $padding-container * 2);

$height-top-container: 765px;
$height-bottom-container: 1331px;

$height-footer: 60px;

$width-preview: 890px;
$width-steps: 1177px;
$width-destinations: $width-container;
$width-stories: $width-project;

$width-preview-search: 892px;
$height-preview-search: 59px;

$width-card-img: 100px;

$height-slider: 844px;
$width-slider: 2520px;
$width-slide: 800px;
$gap-slide: 60px;
$width-dot: 20px;
$width-arrow: 70px;

$width-article-img: 400px;
$height-article-img: 250px;
